[Unit]
Description=DNS Proxy Service
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/dnsproxy --config-path=/etc/dnsproxy/config.yaml

[Install]
WantedBy=multi-user.target
