[Unit]
Description=DNS Proxy Service
After=network-online.target

[Service]
Type=simple
User=root
LimitNOFILE=infinity
ExecStart=/usr/local/bin/dnsproxy --config-path=/etc/dnsproxy/config.yaml
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
